# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [71]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [72]:
cities = pd.read_csv('Output Data Weather/Cities.csv')
cities = cities.drop("Unnamed: 0", 1)
cities

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,san carlos de bariloche,20.0,AR,1.569256e+09,32.0,-41.13,-71.31,55.40,8.05
1,avarua,100.0,CK,1.569256e+09,88.0,-21.21,-159.78,66.20,3.36
2,mahebourg,40.0,MU,1.569256e+09,73.0,-20.41,57.70,71.60,12.75
3,rikitea,100.0,PF,1.569256e+09,75.0,-23.12,-134.97,68.26,15.99
4,saskylakh,90.0,RU,1.569256e+09,86.0,71.97,114.09,30.82,5.03
...,...,...,...,...,...,...,...,...,...
405,raymondville,20.0,US,1.569255e+09,78.0,37.34,-91.83,75.00,8.05
406,zaysan,46.0,KZ,1.569256e+09,55.0,47.47,84.87,62.14,1.72
407,zhigansk,96.0,RU,1.569256e+09,87.0,66.77,123.37,34.42,6.42
408,chilca,20.0,PE,1.569256e+09,24.0,-13.22,-72.34,66.20,5.82
409,ludvika,20.0,SE,1.569256e+09,66.0,60.15,15.18,52.00,5.82

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [73]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

In [74]:
# Store 'Lat' and 'Lng' into  locations 
locations = cities[["Lat", "Lng"]].astype(float)
locations
center_lat = (cities["Lat"].max() + cities["Lat"].min()) /2
center_lng = (cities["Lng"].max() + cities["Lng"].min()) /2

In [77]:
# Convert Humidity to float and store
cities = cities.dropna()
humidity = cities["Humidity"].astype(float)
max_intensity = humidity.max()

In [78]:
# Create a poverty Heatmap layer
fig = gmaps.figure()
fig = gmaps.figure(center = [center_lat,center_lng], zoom_level=1.8)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity= max_intensity,
                                 point_radius = 5)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [79]:
cities = cities.dropna()
cities

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,san carlos de bariloche,20.0,AR,1.569256e+09,32.0,-41.13,-71.31,55.40,8.05
1,avarua,100.0,CK,1.569256e+09,88.0,-21.21,-159.78,66.20,3.36
2,mahebourg,40.0,MU,1.569256e+09,73.0,-20.41,57.70,71.60,12.75
3,rikitea,100.0,PF,1.569256e+09,75.0,-23.12,-134.97,68.26,15.99
4,saskylakh,90.0,RU,1.569256e+09,86.0,71.97,114.09,30.82,5.03
...,...,...,...,...,...,...,...,...,...
405,raymondville,20.0,US,1.569255e+09,78.0,37.34,-91.83,75.00,8.05
406,zaysan,46.0,KZ,1.569256e+09,55.0,47.47,84.87,62.14,1.72
407,zhigansk,96.0,RU,1.569256e+09,87.0,66.77,123.37,34.42,6.42
408,chilca,20.0,PE,1.569256e+09,24.0,-13.22,-72.34,66.20,5.82
409,ludvika,20.0,SE,1.569256e+09,66.0,60.15,15.18,52.00,5.82

In [95]:
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Cloudiness less than 5%
cities_nice = cities[
        (cities['Max Temp'] >= 70) & 
        (cities['Max Temp'] <= 80) &
        (cities['Wind Speed'] <= 10) &
        (cities['Cloudiness'] <= 5) 
      ]

cities_nice = cities_nice.reset_index(drop=True)
cities_nice

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,lorengau,4.0,PG,1.569256e+09,87.0,-2.02,147.27,78.88,7.83
1,san cristobal,1.0,HN,1.569256e+09,69.0,14.68,-86.92,79.60,1.50
2,dicabisagan,3.0,PH,1.569256e+09,94.0,17.08,122.42,72.58,0.83
3,kodiak,1.0,US,1.569256e+09,73.0,39.95,-94.76,72.00,6.93
4,marshall,1.0,US,1.569255e+09,93.0,39.12,-93.20,73.00,4.70
5,marawi,1.0,PH,1.569256e+09,89.0,8.00,124.29,75.99,5.99
6,manokwari,1.0,ID,1.569256e+09,80.0,-0.87,134.08,73.12,3.89

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map