# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [12]:
cities = pd.read_csv('Output Data Weather/Cities.csv')
cities = cities.drop("Unnamed: 0", 1)
cities

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,pevek,100.0,RU,1.569250e+09,79.0,69.70,170.27,1.74,6.02
1,the valley,100.0,AI,1.569250e+09,70.0,18.22,-63.06,31.00,6.70
2,hilo,90.0,US,1.569250e+09,88.0,19.71,-155.08,25.00,3.10
3,albany,75.0,US,1.569250e+09,61.0,42.65,-73.75,28.33,5.70
4,busselton,100.0,AU,1.569250e+09,54.0,-33.64,115.35,12.78,4.69
...,...,...,...,...,...,...,...,...,...
404,polis,20.0,CY,1.569250e+09,69.0,35.04,32.42,27.00,7.70
405,karasjok,75.0,NO,1.569250e+09,80.0,69.47,25.52,4.00,7.70
406,sisimiut,100.0,GL,1.569250e+09,89.0,66.94,-53.67,4.24,4.72
407,mahibadhoo,100.0,MV,1.569250e+09,77.0,3.78,72.97,28.44,5.19
408,paijan,90.0,PE,1.569250e+09,87.0,-7.73,-79.30,16.00,2.60

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [25]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

In [34]:
# Store 'Lat' and 'Lng' into  locations 
locations = cities[["Lat", "Lng"]].astype(float)
locations
center_lat = (cities["Lat"].max() + cities["Lat"].min()) /2
center_lng = (cities["Lng"].max() + cities["Lng"].min()) /2

In [63]:
# Convert Humidity to float and store
cities = cities.dropna()
humidity = cities["Humidity"].astype(float)
max_intensity = humidity.max()+100

In [61]:
# Create a poverty Heatmap layer
fig = gmaps.figure()
fig = gmaps.figure(center = [center_lat,center_lng], zoom_level=1.8)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity= max_intensity,
                                 point_radius = 5)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [70]:
cities = cities.dropna()
cities

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,pevek,100.0,RU,1.569250e+09,79.0,69.70,170.27,1.74,6.02
1,the valley,100.0,AI,1.569250e+09,70.0,18.22,-63.06,31.00,6.70
2,hilo,90.0,US,1.569250e+09,88.0,19.71,-155.08,25.00,3.10
3,albany,75.0,US,1.569250e+09,61.0,42.65,-73.75,28.33,5.70
4,busselton,100.0,AU,1.569250e+09,54.0,-33.64,115.35,12.78,4.69
...,...,...,...,...,...,...,...,...,...
404,polis,20.0,CY,1.569250e+09,69.0,35.04,32.42,27.00,7.70
405,karasjok,75.0,NO,1.569250e+09,80.0,69.47,25.52,4.00,7.70
406,sisimiut,100.0,GL,1.569250e+09,89.0,66.94,-53.67,4.24,4.72
407,mahibadhoo,100.0,MV,1.569250e+09,77.0,3.78,72.97,28.44,5.19
408,paijan,90.0,PE,1.569250e+09,87.0,-7.73,-79.30,16.00,2.60

In [69]:
# A max temperature lower than 80 degrees but higher than 70.

cities[(cities['Max Temp'] >= 70) & (cities['Max Temp'] <= 80)]

Empty DataFrame
Columns: [City, Cloudiness, Country, Date, Humidity, Lat, Lng, Max Temp, Wind Speed]
Index: []

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map